<% provide(:title, 'Profile') %>
<h1>Profile</h1>
<div class="pf-image">
<%=image_tag @user.image.url(:thumb) %><br>
 <p class="n-font"><b><%=@user.name%></b></p>
 <%=@user.user_type%><br>

 <%=@user.email%>



</div>
