<header class="navbar navbar-fixed-top navbar-inverse" style="background-color: darkblue">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bug Tracker", '#', id: "logo" %>
      <nav class="navbar">         
        <ul class="nav pull-right">
        
<!--         <ul><li><%= link_to "Home",  "" ,id:"co"%></li></ul>
 -->         <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
   
        </ul>


       </nav> 
    </div>
  </div>
</header>
